<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com._520it.crm.mapper.OrderBillMapper" >
  <resultMap id="BaseResultMap" type="OrderBill" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="signTime" property="signtime" jdbcType="TIMESTAMP" />
    <result column="totalSum" property="totalsum" jdbcType="VARCHAR" />
    <result column="bargainMoney" property="bargainmoney" jdbcType="VARCHAR" />
    <result column="intro" property="intro" jdbcType="VARCHAR" />
    <result column="file" property="file" jdbcType="VARCHAR" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="modifyTime" property="modifytime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />

    <association property="customer" javaType="Customer" columnPrefix="cus_">
      <id column="id" property="id"/>
      <result column="name" property="name"/>
    </association>

    <association property="seller" javaType="Employee" columnPrefix="emp_">
      <id column="id" property="id"/>
      <result column="username" property="username"/>
    </association>

    <association property="modifyuser" javaType="Employee" columnPrefix="emps_">
      <id column="id" property="id"/>
      <result column="username" property="username"/>
    </association>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from orderbill
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="OrderBill" useGeneratedKeys="true" keyProperty="id" >
    insert into orderbill (signTime, customer_id, seller_id, 
      totalSum, bargainMoney, intro, 
      file, createTime, modifyUser_id, 
      modifyTime, status)
    values (#{signtime,jdbcType=TIMESTAMP}, #{customer.id,jdbcType=BIGINT}, #{seller.id,jdbcType=BIGINT},
      #{totalsum,jdbcType=VARCHAR}, #{bargainmoney,jdbcType=VARCHAR}, #{intro,jdbcType=VARCHAR}, 
      #{file,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{modifyuser.id,jdbcType=BIGINT},
      #{modifytime,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="OrderBill" >
    update orderbill
    set signTime = #{signtime,jdbcType=TIMESTAMP},
      customer_id = #{customer.id,jdbcType=BIGINT},
      seller_id = #{seller.id,jdbcType=BIGINT},
      totalSum = #{totalsum,jdbcType=VARCHAR},
      bargainMoney = #{bargainmoney,jdbcType=VARCHAR},
      intro = #{intro,jdbcType=VARCHAR},
      file = #{file,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      modifyUser_id = #{modifyuser.id,jdbcType=BIGINT},
      modifyTime = #{modifytime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select <include refid="filesql"/>
    from orderBill o left join customer c on o.customer_id=c.id left join employee e on o.seller_id=e.id left join employee p on o.modifyUser_id=p.id
    where o.id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, signTime, customer_id, seller_id, totalSum, bargainMoney, intro, file, 
    createTime, modifyUser_id, modifyTime, status
    from orderbill
  </select>

  <sql id="filesql">
    o.id,o.signTime,o.customer_id,o.seller_id,o.totalSum,o.bargainMoney,o.intro,
    o.file,o.createTime,o.modifyUser_id,o.modifyTime,o.status,
    c.id as cus_id,c.name as cus_name,e.id as emp_id,e.username as emp_username,p.id as emps_id,p.username as emps_username
  </sql>


  <sql id="conditionSql">
    <where>
      <if test="status!=null">
        AND o.status = #{status}
      </if>
      <if test="keyword!=null">
        AND (c.name like concat('%',#{keyword},'%') OR e.username like concat('%',#{keyword},'%')  OR p.username LIKE concat('%',#{keyword},'%'))
      </if>
      <if test="beginDate!=null">
        AND o.signTime &gt;= #{beginDate}
      </if>
      <if test="endDate!=null">
        AND o.signTime &lt;= #{endDate}
      </if>
    </where>
  </sql>

  <!--高级查询部分-->
  <select id="queryByConditionCount" resultType="java.lang.Long">
    select count(*) from orderBill o left join customer c on o.customer_id=c.id left join employee e on o.seller_id=e.id left join employee p on o.modifyUser_id=p.id
    <include refid="conditionSql"/>
  </select>

  <select id="queryByCondition" resultMap="BaseResultMap">
    select
    <include refid="filesql"/>
    from orderBill o left join customer c on o.customer_id=c.id left join employee e on o.seller_id=e.id left join employee p on o.modifyUser_id=p.id
    <include refid="conditionSql"/>
    <if test="page != null">
      limit #{start},#{rows}
    </if>
  </select>

  <!--审核-->
  <update id="checked" parameterType="long">
      update orderBill set status = status + 1 where id = #{id}
  </update>

  <!--拒绝审核-->
  <update id="noChecked" parameterType="long">
      update orderBill set status = 4 where id = #{id}
  </update>

  <!--修改状态-->
  <update id="updateStatus">
      update orderBill set status =5 where id = #{id}
  </update>
</mapper>